@import "../../assets/styles/entry.scss";

.icon {
  width: 30px;
  min-width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  transition: opacity $speed;

  img {
    transition: filter $speed;

    filter: var(--filter-to-white);
    width: 24px;
  }

  &:hover {
    opacity: 1;
  }
  &:active {
    opacity: 0.6;
  }
  @include focus();
}
