@import "../../../assets/styles/entry.scss";

.wrap {
  display: flex;
  align-items: center;
  a {
    &:not(:last-child) {
      margin-right: 16px;
      @include max-vw($sm) {
        margin-right: 12px;
      }
    }
  }
  @include min-vw($lg) {
    margin-top: 16px;
  }
}
