@mixin wrap() {
  width: 100%;
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
  @include max-vw($hd) {
    max-width: 680px;
  }
  @include max-vw($lg) {
    width: calc(100% - 80px);
  }
  @include max-vw($md) {
    width: calc(100% - 60px);
  }
  @include max-vw($sm) {
    width: calc(100% - 40px);
  }
}
