@import "../../../../assets/styles/entry.scss";

.light {
  .slider {
    right: calc(100% - 28px);
  }
  .icon {
    right: 4px;
  }
}

.root {
  display: flex;
  gap: 4px;
  width: 52px;
  height: 30px;
  align-items: center;
  border-radius: 20px;
  border: 0;
  box-shadow: 0px 1px 2px rgba(black, 0.3);
  cursor: pointer;
  @include focus(20px);

  @include max-vw($xs + 10) {
    margin: 0;
  }
}

.slider {
  height: 24px;
  width: 24px;
  background-color: $white;
  position: absolute;
  border-radius: 50%;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: right $speed;
  z-index: 1;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  right: 4px;
}

.icon {
  position: absolute;
  right: calc(100% - 20px);
  transition: right $speed;
}
